body{
    background-color: #f7e900;
}

div.tous{
    display: flex;
    justify-content: center;
    align-items: center;
    }

button.bouton{
    z-index: 2;
    font-size: 800%;
    position: absolute;
    top: 40%;
    height: 30%;
    width: 55%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.php{
    z-index: 1;
    position: absolute;
    font-size: 600%;
    top: 50%;
    left: 30%;
    right: 30%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img.logo2{
    position: absolute;
    height: 22%;
    width: 22%;
    top: 5%;
    left: 38%;
    right: 38%;
}