body{
    background-color: #f7e900;
}

div.tous{
    display: flex;
    justify-content: center;
    align-items: center;
    }

button.bouton{
    z-index: 2;
    font-size: 800%;
    position: absolute;
    top: 40%;
    height: 30%;
    width: 55%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.php{
    z-index: 1;
    position: absolute;
    font-size: 400%;
    left: 28%;
    right: 22%;
    top: 45%;
}